<!DOCTYPE html>
<html>
<head> <% include ./head %> </head>
<body class="container">
<div class="card">

    <form method="post" action="saveitem">






        Added by: <input type="text" name="addedBy" value="<%=loginName%>" readonly/>

        <button class="btn" type="submit" name="submit">Add Song</button>

    </form>

</div>
</body>
</html>
