<footer class="page-footer white">
  <div class="footer-copyright">
    <div class="container">
    <span class="purple-text">Created at Code Samurai Hackathon 2019</span>
    <a class="orange-text right" href="http://codesamurai.club">CodeSamurai.club</a>
    </div>
  </div>
</footer>
