</main>
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    <span class="white-text">Created at Code Samurai Hackathon 2019</span>
    <a class="white-text right" href="http://codesamurai.club">CodeSamurai.club</a>
    </div>
  </div>
</footer>
