<header>
    <nav>
        <a href="/" class="brand-logo center">
            <i class="material-icons">library_music</i>My Cool Music  Trending App
        </a>
    </nav>
</header>
<main class="container">
