<!DOCTYPE html>
<html>
<head> <% include ./head %> </head>
<body class="container">

<h5><%= message %></h5>
<div class="card">

    <span class="card-title">Welcome to my cool app</span><br/><br/>

    <form method="post" action="login">

        User Name: <input type="text" name="loginName"/>
        Password: <input type="password" name="password"/>

        <button class="btn" type="submit" name="submit">Welcome</button>

    </form>

</div>
</body>
</html>
