<!DOCTYPE html>
<html>
<head> <% include ./head %> </head>
<body>
<% include ./header %>

    <a class="btn" href="/additem">Add New Item</a>

    <div class="card">

    <table class="highlight">
        <tr>
            <th>Song</th><th>Singer</th><th>Added By</th><th>Likes</th><th>Actions</th>
        </tr>

        <% items.forEach(function(item){  %>





        <% }) %>
    </table>

    </div>

<% include ./footer %>
</body>
</html>
